
<div class="signup-container">

<form class="signup-form">
<h6 class="profile_title">Welcome to your profile <%=current_applicant.name%>!</h6><br>

  <div class="form-group">
    <label for="exampleFormControlFile1"><strong>Upload CV</strong></label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1"><br><br>
    <%= link_to "View Available Jobs", job_postings_path, class: "profile_links"%><br><br>
    <%= link_to "Go To Dashboard", job_applications_path, class: "profile_links" %><br><br>
    <%= link_to "Edit Profile", edit_applicant_path(@applicant), class: "profile_links" %>
  </div>
</form>
</div>
