<%= link_to "Back to Profile", applicant_path(current_applicant)%> <br><br>
<h4>Welcome to your Dashboard</h4><br>
<h5>Your Job Applications:</h5> <br>

 <%@job_applications.map do |job_application|%>
 <%=link_to job_application.applied_job_postings, job_posting_path(job_application.job_posting.id)%><br>
 <%end%>
<br>


