<h3>Job Application's</h3>
<% @job_applications.each do |job_application| %>
<%= job_application.employer %>
<% end %>

<h5>Liked Jobs</h5>
<br>
arrow
<br>
<br>
list of all job applications where job_posting's are presence: false



<h5>Matches</h5>
<br>
arrow
<br>
<br>
list of all job applications where job_posting's are presence: true