<h3>Job Application's</h3> 
<h5>Applied Jobs</h5>

 <%@job_applications.map do |job_application|%>
 <%=link_to job_application.applied_job_postings, job_posting_path(job_application.job_posting.id)%><br><br>
 
 <%end%>
<br>


list of all job applications of a single applicant, where job_posting's presence: false



<h5>Matches</h5>
<br>
arrow
<br>
<br>
list of all job applications where job_posting's are presence: true