<h3>Job Application's</h3> 
<h5>Applied Jobs</h5>
 <%= @job%>
<br>
list of all job applications of a single applicant, where job_posting's presence: false



<h5>Matches</h5>
<br>
arrow
<br>
<br>
list of all job applications where job_posting's are presence: true