<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="background">
  <main role="main" class="inner cover text-center">
      <h1 class="cover-heading">Pocket Jobs</h1>
      <p class="lead">Your next dream job is within reach...in fact it's waiting in your pocket.</p>

      <%= render 'forms/login' %>

  </main>
</div>


<%= link_to "Sign Up", applicant_signup_path, class: "nav-link" %>
<%= link_to "Log in", applicant_signup_path, class: "nav-link" %>
