<div class="login-container">
<form>
  <div class="form-group">
    <label for="login_email">Email address</label>
    <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="login_password">Password</label>
    <input type="password" class="form-control" id="login_password" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="login_remember">
    <label class="form-check-label" for="login_remember">Keep me signed in</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<form>
